<h1 class="titre">
    Jacqueline<br> Doreau-Roy
</h1>
{% assign lastParent = null %}
<ul class="menu" role="menu">
    <li><a href="/">- Accueil</a></li>
    <li><a href="/bio">- L'artiste</a></li>
    {%- for gallerie in galleries %}
    {% if gallerie.parent != lastParent %}
    {% if gallerie.parent != null %}
    <li><span class="parentcategory">{{ gallerie.parent }}</span><ul>
    {% endif %}
    {% endif %}
    <li><a href="/gallerie/{{ gallerie.label | slug }}/">- {{ gallerie.label }}</a></li>
    {% if gallerie.parent != lastParent %}
    {% if lastParent != null %}
        </ul></li>
    {% endif %}
    {% endif %}
    {% assign lastParent = gallerie.parent %}
    {%- endfor %}
</ul>