---
pagination:
  data: galleries
  size: 1
  alias: gallerie
permalink: "gallerie/{{ gallerie.name | slug }}/"
---
<html lang="fr">
  <head>
    <title>{{ metadata.titre }} - {{ gallerie.name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fichier de style qui sera charg&é puis pris en compte -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="entete">
      {% include ./nav.html %}
    </div>
    <div class="gallerie">
      {%- for painting in paintings %}
      {% if gallerie.name == painting.gallerie %}
      <div
              class="imagegallerie"
              style="background-image: url('{{ painting.file | thumbnail | escapecss }}');"
      >
        <a href="/peinture/{{ painting.description | slug }}" class="imagetitre"
        >{{ painting.description }}</a
        >
      </div>
      {% endif %}
      {%- endfor %}
    </div>
  </body>
</html>
