---
pagination:
  data: galleries
  size: 1
  alias: gallerie
permalink: "gallerie/{{ gallerie.label | slug }}/"
---
<html lang="fr">
  <head>
    <title>{{ metadata.titre }} - {{ gallerie.name }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Fichier de style qui sera charg&é puis pris en compte -->
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="entete">
      {% include ./nav.html %}
    </div>
    <div class="gallerie">
      {%- for painting in paintings %}
      {% if gallerie.name == painting.gallerie %}
      <div
              class="imagegallerie"
              style="background-image: url('{{ painting.file | thumbnail | escapecss }}');"
      >
        <a href="/peinture/{{ painting.description | slug }}" class="imagetitre"
        ><div class="bg">&nbsp;</div><div class="description">{{ painting.description }}</div></a
        >
      </div>
      {% endif %}
      {%- endfor %}
      <div class="contact">
        Contact<br/>
        -<br/>
        Arnaud Roy - 06 74 57 41 73 - royarno(at)gmail(point)com
      </div>
    </div>
  </body>
</html>
